@import '../../mixins';

.home {
    @include main-style();

    h1 {
        color: #0000FF;
        margin-bottom: 2rem;
    }

    img {
        width: 350px;
        max-width: 95%;
        height: auto;
    }
}